<tr key="{{id}}">
  <td><a href="#view-poll?link={{link}}">{{title}}</a></td>
  <td>{{ubication}}</td>

  <td> 
    {{#if_eq user.currentUser author}}
      {{i18n 'You'}}
    {{else}}
      {{author}}
    {{/if_eq}}
    </td>

  <td>
    {{#if_eq user.currentUser author}}
      <a class="editPoll-button"><span item="{{link}}" title="{{i18n 'Edit Poll'}}" class="btn btn-primary btn-sm fa fa-pencil"></span></a>&nbsp;&nbsp;
      <a class="editGaps-button"><span item="{{link}}" title="{{i18n 'Edit Gaps'}}" class="btn btn-success btn-sm fa fa-th-list"></span></a>&nbsp;&nbsp;
    {{/if_eq}}
  </td>
</tr>
